<a href="https://colab.research.google.com/github/Skidmark156/username-DataScience-2025/blob/main/completed/01_Types_of_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“Š Types of Data

In order to analyze and visualize data properly, we first need to understand the **types of data** weâ€™re dealing with.

This notebook covers:
- Qualitative vs Quantitative data
- Discrete vs Continuous data
- The four scales of measurement: Nominal, Ordinal, Interval, Ratio

> âš¡ Remember: Choosing the right summary statistic or plot depends on the data type!

## 1. Qualitative vs Quantitative

- **Qualitative (Categorical)**: Describes categories or labels.
  - Example: Eye color, brand of phone, type of pet

- **Quantitative (Numeric)**: Represents measurable quantities.
  - Example: Age, height, salary

In [ ]:
# Example: classify the following
data = {
    "Eye Color": ["Blue", "Brown", "Green", "Hazel"],
    "Age": [18, 21, 35, 42],
    "Favorite Pet": ["Dog", "Cat", "Fish", "Bird"],
    "Height_cm": [160, 175, 180, 155]
}

import pandas as pd
df = pd.DataFrame(data)
df

  Eye Color  Age Favorite Pet  Height_cm
0      Blue   18          Dog        160
1     Brown   21          Cat        175
2     Green   35         Fish        180
3     Hazel   42         Bird        155

## 2. Discrete vs Continuous

- **Discrete**: Countable values, often whole numbers.
  - Example: Number of children, dice rolls

- **Continuous**: Infinite possible values within a range.
  - Example: Height, weight, temperature

> Note: Both are *quantitative*, but treated differently in visualization and analysis.

## 3. Scales of Measurement

1. **Nominal** â€“ categories with no order (e.g., eye color, blood type).
2. **Ordinal** â€“ categories with an order, but not evenly spaced (e.g., t-shirt size: S, M, L).
3. **Interval** â€“ numeric, equal intervals, but no true zero (e.g., temperature in Â°C).
4. **Ratio** â€“ numeric, equal intervals, meaningful zero (e.g., height, weight, age).

In [ ]:
# Small exercise: classify the following variables
variables = [
    ("Movie Genre", "?"),
    ("Exam Letter Grade", "?"),
    ("Temperature in Celsius", "?"),
    ("Height in cm", "?"),
    ("Number of Siblings", "?")
]
for var, classification in variables:
    print(f"{var} â†’ {classification}")

ðŸ‘‰ **Task:** Replace the `?` above with the correct type (Nominal, Ordinal, Interval, Ratio).

In [ ]:
variables = [
    ("Movie Genre", "Nominal"),
    ("Exam Letter Grade", "Ordinal"),
    ("Temperature in Celsius", "Interval"),
    ("Height in cm", "Ratio"),
    ("Number of Siblings", "Ratio")
]
for var, classification in variables:
    print(f"{var} â†’ {classification}")

Movie Genre â†’ Nominal
Exam Letter Grade â†’ Ordinal
Temperature in Celsius â†’ Interval
Height in cm â†’ Ratio
Number of Siblings â†’ Ratio

## 4. Quick Practice

Decide for each variable:
1. Is it **qualitative** or **quantitative**?
2. If quantitative, is it **discrete** or **continuous**?
3. What scale of measurement does it use?

| Variable | Qual/Quant | Disc/Cont | Scale |
|----------|------------|-----------|-------|
| Country of Birth | ? | â€“ | Nominal |
| Shoe Size | Quant | Discrete | Ordinal (?) |
| Time to Run 5k | Quant | Continuous | Ratio |
| Temperature (Â°C) | Quant | Continuous | Interval |
| Number of Pets | Quant | Discrete | Ratio |

---
âœ… Thatâ€™s it for data types! Next up â†’ [Summary Statistics](02-Summary_Statistics.ipynb)