<a href="https://colab.research.google.com/github/Skidmark156/username-DataScience-2025/blob/main/completed/06_column_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üß± Column Operations: Creating, Renaming, and Dropping Columns

## üîπ LEARNING GOALS:
- Create new columns using calculations or functions
- Rename one or multiple columns
- Drop unwanted columns safely
- Apply functions across columns using `.apply()` and lambdas

### üèóÔ∏è 1. Setup and Sample Data

In [ ]:
import pandas as pd

data = {
    "first_name": ["Alice", "Bob", "Charlie", "David"],
    "last_name": ["Smith", "Jones", "Brown", "Wilson"],
    "math_score": [85, 90, 78, 92],
    "science_score": [88, 85, 82, 95]
}

df = pd.DataFrame(data)
df

  first_name last_name  math_score  science_score
0      Alice     Smith          85             88
1        Bob     Jones          90             85
2    Charlie     Brown          78             82
3      David    Wilson          92             95

### ‚ûï 2. Creating New Columns

In [ ]:
# Simple column arithmetic
df["average_score"] = (df["math_score"] + df["science_score"]) / 2
df

  first_name last_name  math_score  science_score  average_score
0      Alice     Smith          85             88           86.5
1        Bob     Jones          90             85           87.5
2    Charlie     Brown          78             82           80.0
3      David    Wilson          92             95           93.5

In [ ]:
# Create full name column
df["full_name"] = df["first_name"] + " " + df["last_name"]
df

,first_name,last_name,math_score,science_score,average_score,full_name
0,Alice,Smith,85,88,86.5,Alice Smith
1,Bob,Jones,90,85,87.5,Bob Jones
2,Charlie,Brown,78,82,80.0,Charlie Brown
3,David,Wilson,92,95,93.5,David Wilson

### ‚úçÔ∏è 3. Renaming Columns

In [ ]:
# Rename a single column
df.rename(columns={"math_score": "Math", "science_score": "Science"}, inplace=True)
df

  first_name last_name  Math  Science  average_score      full_name
0      Alice     Smith    85       88           86.5    Alice Smith
1        Bob     Jones    90       85           87.5      Bob Jones
2    Charlie     Brown    78       82           80.0  Charlie Brown
3      David    Wilson    92       95           93.5   David Wilson

In [ ]:
# Rename all columns to uppercase
df.columns = [col.upper() for col in df.columns]
df

  FIRST_NAME LAST_NAME  MATH  SCIENCE  AVERAGE_SCORE      FULL_NAME
0      Alice     Smith    85       88           86.5    Alice Smith
1        Bob     Jones    90       85           87.5      Bob Jones
2    Charlie     Brown    78       82           80.0  Charlie Brown
3      David    Wilson    92       95           93.5   David Wilson

### ‚ùå 4. Dropping Columns

In [ ]:
# Drop by name
df.drop(columns=["FULL_NAME"], inplace=True)
df

  FIRST_NAME LAST_NAME  MATH  SCIENCE  AVERAGE_SCORE
0      Alice     Smith    85       88           86.5
1        Bob     Jones    90       85           87.5
2    Charlie     Brown    78       82           80.0
3      David    Wilson    92       95           93.5

### üîÅ 5. Applying Functions Across Columns

In [ ]:
# Categorize based on average score
def grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    else:
        return "C"

df["GRADE"] = df["AVERAGE_SCORE"].apply(grade)
df

  FIRST_NAME LAST_NAME  MATH  SCIENCE  AVERAGE_SCORE GRADE
0      Alice     Smith    85       88           86.5     B
1        Bob     Jones    90       85           87.5     B
2    Charlie     Brown    78       82           80.0     B
3      David    Wilson    92       95           93.5     A

### üß™ Try It Yourself

- Add a new column called `"NAME_LENGTH"` that contains the length of each `FIRST_NAME`
- Create a column `"MATH_PLUS_5"` which is the math score + 5 points bonus

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    "first_name": ["Alice", "Bob", "Charlie", "David"],
    "math_score": [85, 90, 78, 92],
    "science_score": [88, 85, 82, 95]
}
df = pd.DataFrame(data)

# Rename columns for cleaner display (optional)
df.rename(columns={"first_name": "FIRST_NAME", "math_score": "MATH", "science_score": "SCIENCE"}, inplace=True)

# üîπ Add a column showing the length of each first name
df["NAME_LENGTH"] = df["FIRST_NAME"].apply(len)

# üîπ Add a column that gives +5 bonus points to the math score
df["MATH_PLUS_5"] = df["MATH"] + 5

print(df)

  FIRST_NAME  MATH  SCIENCE  NAME_LENGTH  MATH_PLUS_5
0      Alice    85       88            5           90
1        Bob    90       85            3           95
2    Charlie    78       82            7           83
3      David    92       95            5           97

### üß† Mini-Challenge

> Load `"data/students.csv"` and:
- Create a `"total_score"` column by summing up all numeric test columns
- Rename any columns that contain spaces (e.g., `"Test 1"`) to use underscores
- Drop any column that contains only `NaN` values

In [ ]:
from google.colab import files
import pandas as pd
print("üìÅ Please upload your 'students.csv' file...")
uploaded = files.upload() # Choose your local CSV file when prompted

# Read the uploaded file into a DataFrame
df = pd.read_csv("students.csv")
print("\n File loaded successfully! Here are the first few rows:")
print(df.head())

# Rename columns with spaces to underscores
df.columns = [col.strip().replace(" ", "_") for col in df.columns]

# Create "total_score" by summing all numeric test columns
numeric_cols = df.select_dtypes(include='number').columns
df["total_score"] = df[numeric_cols].sum(axis=1)

# Drop columns that contain only NaN values
df.dropna(axis=1, how='all', inplace=True)

# Display final DataFrame
print("\n Cleaned Data with total_score added:")
print(df.head())

üìÅ Please upload your 'students.csv' file...

Saving students.csv to students (1).csv

 File loaded successfully! Here are the first few rows:
  first_name last_name  math_score  science_score
0   Danielle      Wood         100             95
1      Angel     Clark          67             78
2     Joshua     Adams          61            100
3    Jeffrey    Zuniga          77             99
4       Jill      Wong          75             83

 Cleaned Data with total_score added:
  first_name last_name  math_score  science_score  total_score
0   Danielle      Wood         100             95          195
1      Angel     Clark          67             78          145
2     Joshua     Adams          61            100          161
3    Jeffrey    Zuniga          77             99          176
4       Jill      Wong          75             83          158

### üìù Summary

| Action             | Method                                |
|--------------------|----------------------------------------|
| Create column       | `df["new"] = ...`                     |
| Rename column(s)    | `df.rename(columns={...})`            |
| Rename all columns  | `df.columns = [...]`                 |
| Drop column(s)      | `df.drop(columns=[...])`              |
| Apply function      | `df["col"].apply(func)`               |