<a href="https://colab.research.google.com/github/Skidmark156/username-DataScience-2025/blob/main/completed/_02_pandas_series_and_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêº Notebook 02: Pandas Series and DataFrames

Congratulations. You've graduated from lists and dictionaries ‚Äî it‚Äôs time to wield a more powerful tool: **Pandas**.

This notebook introduces you to the two most essential data structures in data science:

- `Series`: a one-dimensional labeled array (like a dictionary and list had a well-organized child)
- `DataFrame`: a two-dimensional table with labeled axes (basically Excel‚Äôs smarter cousin)

---

In [ ]:
import pandas as pd

## üî¢ Series from a List
Simple but powerful ‚Äî labels give it superpowers.

In [ ]:
# A Series from a list ‚Äî just like a list, but fancier and labeled
prices = pd.Series([2.99, 4.49, 1.99], index=["Apple", "Milk", "Bread"])
print("Grocery Prices:")
print(prices)

# Accessing elements like a dictionary
print("\nPrice of Milk:", prices["Milk"])

Grocery Prices:
Apple    2.99
Milk     4.49
Bread    1.99
dtype: float64

Price of Milk: 4.49

## üó∫Ô∏è Series from a Dictionary
Keys become the index ‚Äî pretty intuitive, right?

In [ ]:
population = {
    "Texas": 29_000_000,
    "California": 39_000_000,
    "New York": 19_000_000
}

state_pop = pd.Series(population)
print("State Populations:")
print(state_pop)

# Series support math!
print("\nPopulation in millions:")
print(state_pop / 1_000_000)

State Populations:
Texas         29000000
California    39000000
New York      19000000
dtype: int64

Population in millions:
Texas         29.0
California    39.0
New York      19.0
dtype: float64

## üìã Creating a DataFrame
Like a spreadsheet, but you control the universe.

In [ ]:
# Creating a DataFrame ‚Äî the bread and butter of Pandas
data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "GPA": [3.9, 2.7, 3.4, 3.8],
    "Credits": [90, 45, 60, 120],
    "Graduating": [False, False, False, True]
}

students = pd.DataFrame(data)
print("Student DataFrame:")
print(students)

Student DataFrame:
      Name  GPA  Credits  Graduating
0    Alice  3.9       90       False
1      Bob  2.7       45       False
2  Charlie  3.4       60       False
3    Diana  3.8      120        True

## üéØ Column Access + Row Access

In [ ]:
# Access a column
print("\nGPA column:")
print(students["GPA"])

# Access a row
print("\nCharlie's record:")
print(students.loc[2])

GPA column:
0    3.9
1    2.7
2    3.4
3    3.8
Name: GPA, dtype: float64

Charlie's record:
Name          Charlie
GPA               3.4
Credits            60
Graduating      False
Name: 2, dtype: object

## üß™ Inspect the DataFrame

In [ ]:
# Shape and structure
print("\nShape:", students_df.shape)
print("\nColumns:", students_df.columns.tolist())

# Info dump
print("\nDataFrame Info:")
print(students_df.info())

# Stats summary
print("\nDataFrame Summary Stats:")
print(students_df.describe())

Shape: (5, 4)

Columns: ['Name', 'GPA', 'Credits', 'Almost_Graduated']

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              5 non-null      object
 1   GPA               5 non-null      float64
 2   Credits           5 non-null      int64
 3   Almost_Graduated  5 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 257.0+ bytes
None

DataFrame Summary Stats:
            GPA     Credits
count  5.000000    5.000000
mean   3.420000   85.000000
std    0.432435   32.015621
min    2.800000   45.000000
25%    3.200000   60.000000
50%    3.500000   90.000000
75%    3.700000  110.000000
max    3.900000  120.000000

## üßº Rename a Column

In [ ]:
students_df.rename(columns={"Graduating": "Is_Graduating"}, inplace=True)
print("\nRenamed column:")
print(students_df.head())

Renamed column:
    Name  GPA  Credits  Almost_Graduated
0    Ava  3.7      110              True
1    Ben  2.8       60             False
2  Clara  3.9       90             False
3  David  3.2       45             False
4   Ella  3.5      120              True

---
## üîç Your Turn

1. Create a `Series` from a dictionary of state abbreviations to population (use fake or real data).
2. Create a `DataFrame` for 5 students with columns: `Name`, `GPA`, `Credits`, `Graduating` (True/False).
3. Try accessing a row using `.loc[]` and a column using bracket notation.
4. Print the `.shape`, `.columns`, and `.info()` of your DataFrame.

üéØ Bonus: Rename a column just to mess with the future grader.

In [ ]:
import pandas as pd

# Create a Series from a dictionary of state abbreviations to population
state_pops = {
    "TX": 30_000_000,
    "CA": 39_500_000,
    "NY": 19_800_000,
    "FL": 22_200_000,
    "IL": 12_600_000
}

pop_series = pd.Series(state_pops)
print("State Populations (Series):")
print(pop_series)

# Create a DataFrame for 5 students with columns: Name, GPA, Credits, Graduating
data = {
    "Name": ["Ava", "Ben", "Clara", "David", "Ella"],
    "GPA": [3.7, 2.8, 3.9, 3.2, 3.5],
    "Credits": [110, 60, 90, 45, 120],
    "Graduating": [True, False, False, False, True]
}

students_df = pd.DataFrame(data)
print("\nStudent DataFrame:")
print(students_df)

# Access a row using .loc[] and a column using bracket notation
print("\nAccessing a row (Clara‚Äôs record):")
print(students_df.loc[2])   # Row with index 2

print("\nAccessing a column (GPA):")
print(students_df["GPA"])

# Print the .shape, .columns, and .info() of your DataFrame
print("\nShape:", students_df.shape)
print("\nColumns:", students_df.columns.tolist())

print("\nDataFrame Info:")
print(students_df.info())

# Rename a column just to mess with the future grader
students_df.rename(columns={"Graduating": "Almost_Graduated"}, inplace=True)
print("\nAfter renaming column:")
print(students_df.head())

State Populations (Series):
TX    30000000
CA    39500000
NY    19800000
FL    22200000
IL    12600000
dtype: int64

Student DataFrame:
    Name  GPA  Credits  Graduating
0    Ava  3.7      110        True
1    Ben  2.8       60       False
2  Clara  3.9       90       False
3  David  3.2       45       False
4   Ella  3.5      120        True

Accessing a row (Clara‚Äôs record):
Name          Clara
GPA             3.9
Credits          90
Graduating    False
Name: 2, dtype: object

Accessing a column (GPA):
0    3.7
1    2.8
2    3.9
3    3.2
4    3.5
Name: GPA, dtype: float64

Shape: (5, 4)

Columns: ['Name', 'GPA', 'Credits', 'Graduating']

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   GPA         5 non-null      float64
 2   Credits     5 non-null      int64
 3   Graduating  5 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 257.0+ bytes
None

After renaming column:
    Name  GPA  Credits  Almost_Graduated
0    Ava  3.7      110              True
1    Ben  2.8       60             False
2  Clara  3.9       90             False
3  David  3.2       45             False
4   Ella  3.5      120              True

---
## üìé Side Notes
- A `Series` is like a single column of a spreadsheet.
- A `DataFrame` is like the full spreadsheet.
- Rows and columns can both have labels (called the **index** and **columns**).

Next stop: loading data from the real world. Brace yourself for CSVs.